$body-background-color: #f3f3f3;
$header-background-color: #002045;
$color-white: #fff;
$color-black: #000;
$category-light-blue: #1a86f4;
$color-dark--1: #19191D;
$color-link--1: #0156FF;
$color-gray--1: #808080;