.section__main {
  width: 100%;
  display: flex;
  padding: 10rem 2rem;
  gap: 2rem;
}

.aside {
  user-select: none;
  border-right: 1px solid $color-black;
  flex-basis: 34rem;
  padding: 1rem 2rem;
  max-height: 100rem;
  overflow-y: auto;
  &__department {
    padding: 1rem 2rem;
    border: 1px solid #9dc2ff;
    color: #2264d1;
    border-radius: 0.8rem;
    margin-bottom: 4rem;
    background-color: $color-white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__categories {
    &-header {
      cursor: pointer;
      padding: 1rem 2rem;
      font-weight: bold;

      &--active {
        color: #2264d1;
        .aside__category--icon {
          transform: rotate(90deg);
        }
      }

      span {
        font-size: 1.2rem;
        color: #787885;
        margin-left: 2rem;
      }
    }

    &-container {
      background-color: $color-white;
      font-size: 1.4rem;
      border-radius: 4px;
      margin-bottom: 2rem;
      transition: all 0.2s ease-in;
      padding: 1rem 0;
    }

    &-menu {
      height: auto;
      max-height: 0;
      transition: all 0.2s ease-in;
      opacity: 0;

      &--active {
        max-height: 95rem;
        opacity: 1;
        &-menu {
          .aside__category--icon {
            transform: rotate(90deg);
          }
        }
      }
    }

    &-item {
      ul {
        height: auto;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-in;
        pointer-events: none;
      }

      &-title {
        margin: 0.6rem 0 0.6rem 0.8rem;
        cursor: pointer;
        overflow: auto;
        font-weight: 500;
        padding: 0.5rem 2rem;

        &--active {
          color: #2264d1;

          .aside__category--icon {
            transform: rotate(90deg);
          }
        }

        &--active + ul {
          max-height: 10rem;
          opacity: 1;
          pointer-events: unset;
        }
      }

      li {
        font-weight: normal;
        margin: 0 0 1rem 5rem;
        cursor: pointer;

        &:hover {
          color: #2264d1;
        }
      }
    }
  }

  &__filters {
    font-size: 1.4rem;
    background-color: #f7f7fa;
    padding: 1rem 2rem;
    border-radius: 4px;
    margin-bottom: 2rem;

    &-header {
      margin-bottom: 2rem;
    }

    &-body {
      padding-left: 1rem;
    }

    &-item {
      margin-bottom: 1rem;
    }
  }

  &__category--icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease;
  }
}

.department__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
